@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

body {
	font-family: 'Open Sans', sans-serif;
	color: #272727;
	font-weight: 300;
}

.title {
	margin: 50px 0 50px 250px;
}

.my-radio {
	line-height: 14px;
	margin-bottom: 25px;
}

.my-radio:hover {
	cursor: pointer;
	color: #EF985F;
}

.calc-part {
	font-weight: 300;
	text-align: left;
}
.calc-part-wrap{
	height: 130px;
	margin: 20px 0;
}
.sourcing-calc-icon {
	width: 90px;
	position: relative;
	left: 24px;
	top: -27px;
}
.calc-input {
	border: none;
	border-bottom: 1px solid #272727;
	font-size: 2rem;
	width: 165px;
}
.calc-input:focus {
	outline: none;
}
.cash{
	font-size: 2rem;
}
.savings-input {
	width: 150px;
}
input::-webkit-inner-spin-button {
	/*This removes up down arrows in input numbers*/
    -webkit-appearance: none;
    margin: 0;
}
.calc-line-even {
	height: 39px;
}

.you-save{
	font-size: 2rem;
}

.calc-btn {
	background-color: #fff;
	border: 1px solid #272727;
	font-size: 20px;
	margin: 20px 0 10px 0;
	padding: 5px 10px;
	outline: none;
	border-radius: 3px;
}

.calc-btn:hover {
	background-color: #272727;
	color: #fff;
}




